<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <servlet>
        <servlet-name>SnoopServlet</servlet-name>
        <servlet-class>org.burroloco.donkey.input.http.SnoopServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SnoopServlet</servlet-name>
         <url-pattern>/snoop</url-pattern>
    </servlet-mapping>
</web-app>